.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  border: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  padding-top: 2em;
}

@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
* {
  margin: 0;
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 80px rgba(0, 0, 0, 0) inset !important;
}

body {
  background: url("https://images.pexels.com/photos/1655166/pexels-photo-1655166.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
    no-repeat center center;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  font-family: "Inconsolata", monospace;
  border: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.holder {
  padding-top: 10vh;

  position: relative;
}
.holder:before,
.holder:after {
  -webkit-animation: orbit 5s linear infinite;
  animation: orbit 5s linear infinite;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  content: "";
  /* height: 100vh;
  width: 100vh; */
  height: 150px;
  width: 150px;
  position: absolute;
}
.holder:before {
  background: #ffe897;
  background: -o-radial-gradient(top left, #ffe897, #f98a05);
  background: radial-gradient(top left, #ffe897, #f98a05);
  background: -webkit-radial-gradient(top right, #ffe897, #f98a05);
}
.holder:after {
  -webkit-animation-delay: -2.5s;
  animation-delay: -2.5s;
  background: #e0e793;
  background: -o-radial-gradient(bottom right, #e0e793, #6dd0f1);
  background: radial-gradient(to top left, #e0e793, #6dd0f1);
  background: -webkit-radial-gradient(bottom right, #e0e793, #6dd0f1);
  right: 50%;
  top: 50%;
  z-index: -1;
}

.card {
  border: 1px solid #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  height: 160%;
  max-height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  width: 370px;
  /* padding-top: 2em;
  padding-bottom: 2em; */

  /* height: 100vh;
  width: 100vh; */
}
.card:before {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  -webkit-backdrop-filter: blur(10px) saturate(100%) contrast(45%)
    brightness(130%);
  content: "";
  position: absolute;
  /* left: -50%; */
  /* height: 100%;
  width: 100vw; */
  left: 0;
  height: 100vh;
  width: 120vw;
}
.card__text {
  color: #6f7886;
  margin-left: 10px;
  margin-right: 10px;
  /* margin-top: 100px; */
  position: relative;
  z-index: 2;
}
@-webkit-keyframes orbit {
  from {
    -webkit-transform: rotate(0deg) translateX(100px) rotate(0deg);
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(100px) rotate(-360deg);
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}
@keyframes orbit {
  from {
    -webkit-transform: rotate(0deg) translateX(100px) rotate(0deg);
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(100px) rotate(-360deg);
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}
