html,
body {
  padding: 0 !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  padding-right: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

#root {
  /* height: 100vh; */
  /* height: 90vh; */
  /* border: 3px; */
  box-sizing: border-box;
}
