.contactsContainer {
  background: #525252;
}

.addContactFormCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contactCard {
  font-size: 1.1em;
  margin: 0.8em;
  padding: 0.5em;
  background-color: white;
  border-radius: 0.3em;
  /* height: 3em; */
}

/* = cols = */
/* 1st col */
.avatarAndNameCol {
  /* height: 3em; */
  display: flex;
  align-items: center;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.avatar {
  height: 5em;
  margin-right: 0.5em;
}

.name {
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 2nd col */
.phoneCol {
  display: flex;
  align-items: center;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.phone {
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 3rd col */
.informationCol {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.email {
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 4th col */
.cityCol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.city {
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contactTab {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
